body, html
  line-height: 1
  height: 100%
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent

div,body,p,h1,h2,span
  transition: color,background  .5s ease-out

.icon-font
  font-family:icon-font !important
  font-style:normal
  background: none !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@media (-webkit-min-device-pixel-ratio: 1.5)
,(min-device-aspect-ratio: 1.5)
  .border-1px
    &:before,&:after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)
  .border-1pxx
    &:before,&:after
      -webkit-transform: scaleX(0.7)
      transform: scaleX(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2)
  .border-1px
    &:before,&:after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
  .border-1pxx
    &:before,&:after
      -webkit-transform: scaleX(0.5)
      transform: scaleX(0.5)
@media (-webkit-min-device-pixel-ratio: 3),(min-device-aspect-ratio: 3)
  .border-1px
    &:before,&:after
      -webkit-transform: scaleY(0.33)
      transform: scaleY(0.33)
  .border-1pxx
    &:before,&:after
      -webkit-transform: scaleX(0.33)
      transform: scaleX(0.33)
