@font-face {
  font-family: 'icon-font';
  src: url('../fonts/font_1467357626_5109937.eot'); /* IE9*/
  src: url('../fonts/font_1467357626_5109937ie.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font_1467357626_5109937.woff') format('woff'), /* chrome、firefox */
    url('../fonts/font_1467357626_5109937.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/font_1467357626_5109937.svg') format('svg'); /* iOS 4.1- */
}
