.night
  background: #343434
  .homepage
    .topmenu
      background: #222
    .homepage-content
      .slide
        .slide-wrapper
          background: #222
      .stories-list
        .stories-list-box
          background: #343434
          .title
            color: #b7b7b7
          .list
            background: #404040
            border-color:#343434
            border-bottom-color: #222
            .text-box
              .text
                color: #d2d2d2
      .loading-wrapper
        background: #343434
    .change-mode
      background: #343434
      .text
        color: #fff
  .sidebar
    .sidebar-main
      background: #343434
      .sidebar-header
        background: #222
      .home
        background: #343434
      .sidebar-themes
        .themes-item
          color: #b7b7b7
      .active
        background: #242424 !important
  .stories-detail
    background: #343434
    .header
      background: #222
    .main
      .content
        .highlight
          background: #343434 !important
        blockquote
          border-left-color: #827b7b
        .content-wrap
          background: #343434
          .headline
            border: none
            .headline-title
              color: #b7b7b7
          .content-inner
            .question
              border: none !important
              .question-title
                color: #b7b7b7
              .answer
                .meta
                  .author
                    color: #888
                .content
                  color: #888
                  a
                    color: #6991c2
            .view-more
              a
                background: #303030
                color: #6991c2
    .comments
      background: #343434
      .header
        background: #222
      .comments-main
        background: #343434
        .title
          color: #b7b7b7
        .comment-content
          color: #888
          .comment-header
            color: #bbb
          .comments-text
            .reply
              color: #bbb
              .reply-text
                color: #6b6b6b
  .themepage
    .topmenu
      background: #222
    .themepage-main
      background: #343434
      .editors-box
        background: #343434
        .text
          color: #b7b7b7
      .stories-list
        .stories-list-box
          background: #343434
          .list
            background: #404040
            border-color: #343434
            border-bottom-color: #222
            .text
              color: #d2d2d2
      .loading-wrapper
        background: #343434
      .nomore
        background: #343434
        color: #d2d2d2
    .editors
      background: #343434
      .editors-header
        background: #222
      .editors-list
        .editors-item
          .info
            .name
              color: #b7b7b7
  .favorite-wrapper
    background: #343434
    .favorite-header
      background: #222
    .favorite-main
      background: #343434
      .list
        background: #404040
        border-color: #343434
        border-bottom-color: #222
        .text-box
          .text
            color: #d2d2d2
